---
layout: default
title: Posts
---

<div class="posts-container">
  <div class="posts-frame">
    <div class="posts-window">
      <div class="title-bar">
        <span>posts</span>
      </div>
      <div class="posts-list">
        {% for post in site.posts %}
        <a href="{{ post.url }}" class="post-row">
         {% if post.image %}
            <img src="{{ post.image }}" alt="post image">
        {% endif %}
          <span class="post-name">{{ post.title }}</span>
          <span class="post-desc">{{ post.description }}</span>
          <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
